
<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN
Creates an anonymous function that inserts a sript into the DOM
of the login.html page-->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>


<!-- GOOGLE PLUS SIGN IN BUTTON-->
          <!-- -data-scope specefies what resources we want to be able to access. check google documentation for openid for more info

          -data-redirecturi sets a post message which enables one time use

          -data-accesstype lets google make requests when user is not logged in

          -data-cookiepolicy - means we only have one domain and no subdomains

          -data-callback - gives one time use code and acces token

          -data-approvalprompt means user has to login each time they enter login page. only good for testing

        -->

          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="524229327598-hi7c7je2motn9uck4j1u7sfcgr714942.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->
        <div id="result"></div>

        <script>
        function signInCallback(authResult) {
          //authResult is object returned from google after user is authenticated
          //printed auth result to console
          console.log("the auth result is: ")
          console.log(authResult)
          //authorization was successful if contains authResult contains code parameter
          if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main categories page
            $.ajax({
              type: 'POST',
              url: '/gconnect?state={{STATE}}',
              processData: false,
              data: authResult['code'],
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response if necessary.
                if (result) {
                  $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/categories";
                }, 1000);

              } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                 }
              }

          }); } }
          </script>


<!--END GOOGLE PLUS SIGN IN  -->

  </body>

  </html>
