<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<form action= "{{url_for('editItem', category_id=category_id, item_id=item_id)}}" method = 'POST'>
			<p>Item Name:</p>
			<input type = 'text' size='30' name ='item' placeholder ='{{item.item}}'>
			<p>Item Description:</p>
			<input type='text' size='30' name='description' placeholder={{item.description}}>
			<input type='submit' value='Edit'>
		</form>
		<a href= '{{url_for('showCategories', category_id= item.category_id)}}'>Cancel</a>
	</body>
</html>
