<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Dylan Ellison" content="Portfolio">
    <meta name="Dylan Ellison" content="">
    <!--<link rel="shortcut icon" type="image/png" href="./img/logos/favicon.png"/> -->
    <title>Item Catalog</title>
    <!-- My CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap Core CSS-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>
<!--
To Do:
-Add Navbar
-Style Font Better
-Add JS functionality
-->
  <body>


  			{% block content %}
  			{% endblock %}

  </body>
</html>
